.nickName{
    display: flex;

    width: 100%;
    height: 5vh;

    justify-content: center;
    align-items: center;
}

.gamebackground{
    background-color: rgb(14, 135, 190);
    width: 100%;
    height: 100%;
}